$primary-dark: #1e3932;
$primary-medium: #008248;
$primary-light: #d4e9e2;
$primary-lightest: #f1f8f6;
$base-grey: #f3f1e7;
$base-black: #000;

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: $base-black;
  background-color: $primary-lightest;
  font-family: "Montserrat", sans-serif !important;
}

.content {
  padding-top: 150px;
  background-color: white;
}

/* HEADER */

.header {
  background: $primary-dark;
  color: $primary-lightest;
  width: 100%;
}

.tab {
  overflow: hidden;
  border-bottom: solid 3px transparent;

  button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 36px 18px;
    font-size: 17px;

    &:hover,
    &:focus {
      color: $primary-medium;
      border-bottom: $primary-medium solid 3px;
    }

    &.active {
      border-bottom: $primary-medium solid 3px;
    }
  }
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.navbar-light {
  background-color: white !important;
}

.navigation {
  height: 100px;
}

.logo {
  width: 55px;
  height: 55px;
  flex-shrink: 0;
}

.banner {
  position: fixed;
  top: 96px;
  width: 100%;
}

/* ********* */

.button {
  border-radius: 25px;
  padding: 5px 10px;
  font-weight: 700;

  &.white-button {
    color: $base-black;
    background-color: white;
    border-color: $base-black;
  }

  &.black-button {
    color: white;
    background-color: $base-black;
  }

  &.color-button {
    color: $primary-lightest;
    background-color: $primary-medium;
    border-color: $primary-medium;
  }
}

.text-upper {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.text-bold {
  font-weight: 700;
}

a.black-link {
  color: $base-black;
}

.star-image {
  background-image: linear-gradient(rgba(212, 233, 226, 0.2), rgba(212, 233, 226, 0.2)),
    url("/src/images/hero/xl-hero-desktop_2021.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.star-text {
  padding: 100px;
  align-self: start;
  width: 30%;
}

.section {
  margin-bottom: 100px;

  &.section-getting-started {
    width: 80%;
    margin: 10%;
    text-align: center;
    background-color: white;
  }
}


.w-20 {
  width: 20%;
}

.semi-bold-heading {
  font-size: 1.5rem;
  font-weight: 550;
}

.image-steps {
  max-width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: 1rem;
  padding-bottom: 1.2rem;
}
